# Weather Data - Data Cleaning and Preprocessing
## Data Science - CS 334
---------------------------------------------------------

### Dataset
- The weather dataset is a messy, real-world dataset containing an entire year’s worth of weather data from Boston, USA. 
- This dataframe has a lot of problems regarding the quality of the data. 
- The goal for this part of the assignment is to clean the data so it can be later used for insightful analysis.

### Importing Libraries
-----------------------------

In [349]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

In [358]:
#Loading data
df = pd.read_csv('weather_start.csv')
print(df.shape)
df.head()

(366, 23)

,CloudCover,Events,Max.Dew.PointF,Max.Gust.SpeedMPH,Max.Humidity,Max.Sea.Level.PressureIn,Max.TemperatureF,Max.VisibilityMiles,Max.Wind.SpeedMPH,Mean.Humidity,...,Mean.Wind.SpeedMPH,MeanDew.PointF,Min.DewpointF,Min.Humidity,Min.Sea.Level.PressureIn,Min.TemperatureF,Min.VisibilityMiles,PrecipitationIn,WindDirDegrees,Date
0,'6','Rain','46','29','74','30.45','64','10','22','63',...,'13','40','26','52','30.01','39','10','0.01','268',Year: 2014 Month: 12 Day: 1
1,'7','Rain-Snow','40','29','92','30.71','42','10','24','72',...,'15','27','17','51','30.4','33','2','0.10','62',Year: 2014 Month: 12 Day: 2
2,'8','Rain','49','38','100','30.4','51','10','29','79',...,'12','42','24','57','29.87','37','1','0.44','254',Year: 2014 Month: 12 Day: 3
3,'3',NaN,'24','33','69','30.56','43','10','25','54',...,'12','21','13','39','30.09','30','10','0.00','292',Year: 2014 Month: 12 Day: 4
4,'5','Rain','37','26','85','30.68','42','10','22','66',...,'10','25','12','47','30.45','26','5','0.11','61',Year: 2014 Month: 12 Day: 5

In [359]:
df.columns

Index(['CloudCover', 'Events', 'Max.Dew.PointF', 'Max.Gust.SpeedMPH',
       'Max.Humidity', 'Max.Sea.Level.PressureIn', 'Max.TemperatureF',
       'Max.VisibilityMiles', 'Max.Wind.SpeedMPH', 'Mean.Humidity',
       'Mean.Sea.Level.PressureIn', 'Mean.TemperatureF',
       'Mean.VisibilityMiles', 'Mean.Wind.SpeedMPH', 'MeanDew.PointF',
       'Min.DewpointF', 'Min.Humidity', 'Min.Sea.Level.PressureIn',
       'Min.TemperatureF', 'Min.VisibilityMiles', 'PrecipitationIn',
       'WindDirDegrees', 'Date'],
      dtype='object')

<div style="color: pink; 
            background-color: #b73239;
            border-radius: 5px;
            padding: 5px 5px 5px 5px;
            display: inline-block">
    If you get a `SettingWithCopyWarning:` when using pandas, you can almost always ignore it. 
</div>

## Cleaning Part I: Data Formats and Types

--------------------------------------------------

- We can see the `Date` column has the information in a weird text-based style. So the first order of business is to parse the `Date` column and obtain separate year, month and day columns as integer values.You will use regex for this.Then you will combine these three columns using `pd.to_datetime` to create a datetime column which is a special type in pandas. It gives you some amazing funcitonality.
- Then you have individual weather related measurements (`Max.TemperatureF`, `Max.Dew.PointF` etc) but the values of these columns have quotes around them ('') so these need to be cleaned.
- For the weather related columns you need to fix the types. Pandas documentation is your friend so use it!
- You should also keep an eye out for inconsistent encodings.  Everything is a string, that means encoding issues can be present. These are more common in categorical variables like a column describing gender has both full words (female, male) and letters (f, m). You will need to properly standardise this issue.
- Everything is a string. This is a sign of a long day (maybe not?) of data cleaning ahead. Good Luck!

In [360]:
# FIXING THE DATE
year = []
month = []
day = []
for i in range(len(df)):   
    year.append(int(df['Date'].str.split(':')[i][1].split()[0]))
    month.append(int(df['Date'].str.split(':')[i][2].split()[0]))
    day.append(int(df['Date'].str.split(':')[i][3].split()[0]))
datex = pd.DataFrame({'year': year,
                    'month': month,
                    'day': day})
df['Date'] = pd.to_datetime(datex)
df['Date']

0     2014-12-01
1     2014-12-02
2     2014-12-03
3     2014-12-04
4     2014-12-05
5     2014-12-06
6     2014-12-07
7     2014-12-08
8     2014-12-09
9     2014-12-10
10    2014-12-11
11    2014-12-12
12    2014-12-13
13    2014-12-14
14    2014-12-15
15    2014-12-16
16    2014-12-17
17    2014-12-18
18    2014-12-19
19    2014-12-20
20    2014-12-21
21    2014-12-22
22    2014-12-23
23    2014-12-24
24    2014-12-25
25    2014-12-26
26    2014-12-27
27    2014-12-28
28    2014-12-29
29    2014-12-30
         ...
336   2015-11-02
337   2015-11-03
338   2015-11-04
339   2015-11-05
340   2015-11-06
341   2015-11-07
342   2015-11-08
343   2015-11-09
344   2015-11-10
345   2015-11-11
346   2015-11-12
347   2015-11-13
348   2015-11-14
349   2015-11-15
350   2015-11-16
351   2015-11-17
352   2015-11-18
353   2015-11-19
354   2015-11-20
355   2015-11-21
356   2015-11-22
357   2015-11-23
358   2015-11-24
359   2015-11-25
360   2015-11-26
361   2015-11-27
362   2015-11-28
363   2015-11-29
364   2015-11-30
365   2015-12-01
Name: Date, Length: 366, dtype: datetime64[ns]

In [361]:
# Removing Quotes

fields = ['CloudCover','Events', 'Max.Dew.PointF', 'Max.Gust.SpeedMPH',
       'Max.Humidity', 'Max.Sea.Level.PressureIn', 'Max.TemperatureF',
       'Max.VisibilityMiles', 'Max.Wind.SpeedMPH', 'Mean.Humidity',
       'Mean.Sea.Level.PressureIn', 'Mean.TemperatureF',
       'Mean.VisibilityMiles', 'Mean.Wind.SpeedMPH', 'MeanDew.PointF',
       'Min.DewpointF', 'Min.Humidity', 'Min.Sea.Level.PressureIn',
       'Min.TemperatureF', 'Min.VisibilityMiles', 'PrecipitationIn',
       'WindDirDegrees']

for f in fields:
    df[f] = df[f].str.strip("'")
df.head()

,CloudCover,Events,Max.Dew.PointF,Max.Gust.SpeedMPH,Max.Humidity,Max.Sea.Level.PressureIn,Max.TemperatureF,Max.VisibilityMiles,Max.Wind.SpeedMPH,Mean.Humidity,...,Mean.Wind.SpeedMPH,MeanDew.PointF,Min.DewpointF,Min.Humidity,Min.Sea.Level.PressureIn,Min.TemperatureF,Min.VisibilityMiles,PrecipitationIn,WindDirDegrees,Date
0,6,Rain,46,29,74,30.45,64,10,22,63,...,13,40,26,52,30.01,39,10,0.01,268,2014-12-01
1,7,Rain-Snow,40,29,92,30.71,42,10,24,72,...,15,27,17,51,30.4,33,2,0.10,62,2014-12-02
2,8,Rain,49,38,100,30.4,51,10,29,79,...,12,42,24,57,29.87,37,1,0.44,254,2014-12-03
3,3,NaN,24,33,69,30.56,43,10,25,54,...,12,21,13,39,30.09,30,10,0.00,292,2014-12-04
4,5,Rain,37,26,85,30.68,42,10,22,66,...,10,25,12,47,30.45,26,5,0.11,61,2014-12-05

In [362]:
# CONVERT TO INTEGERS
df['PrecipitationIn'] = df['PrecipitationIn'].replace('T','0')
fields.remove('Events')
for f in fields:
    df[f] = pd.to_numeric(df[f], errors= 'coerc')
df.head()

,CloudCover,Events,Max.Dew.PointF,Max.Gust.SpeedMPH,Max.Humidity,Max.Sea.Level.PressureIn,Max.TemperatureF,Max.VisibilityMiles,Max.Wind.SpeedMPH,Mean.Humidity,...,Mean.Wind.SpeedMPH,MeanDew.PointF,Min.DewpointF,Min.Humidity,Min.Sea.Level.PressureIn,Min.TemperatureF,Min.VisibilityMiles,PrecipitationIn,WindDirDegrees,Date
0,6,Rain,46,29.0,74,30.45,64,10,22,63,...,13,40,26,52,30.01,39,10,0.01,268,2014-12-01
1,7,Rain-Snow,40,29.0,92,30.71,42,10,24,72,...,15,27,17,51,30.40,33,2,0.10,62,2014-12-02
2,8,Rain,49,38.0,100,30.40,51,10,29,79,...,12,42,24,57,29.87,37,1,0.44,254,2014-12-03
3,3,NaN,24,33.0,69,30.56,43,10,25,54,...,12,21,13,39,30.09,30,10,0.00,292,2014-12-04
4,5,Rain,37,26.0,85,30.68,42,10,22,66,...,10,25,12,47,30.45,26,5,0.11,61,2014-12-05

## Distributions + Removing outliers + Imputing missing values

-----------------------------------------------------------------

- Now, you can start the process of data cleaning and exploration as these two things go hand-in-hand. Look for missing values and outliers. You can use different methods to find these problem points using visual methods like plots or analytical methods like summary statistics. 
- Look at what plots can be used to find outliers. Which columns have outliers? What are those values? What did you to process them?
- Which columns have missing values? Find all the columns of possible missing values and impute them using the correct method.
- Check for positive and negative values for all columns. Is there any value which is not allowed to be in a column? What can be done to correct these?

In [363]:
df['Events'] = df['Events'].fillna('None')
df.head()

,CloudCover,Events,Max.Dew.PointF,Max.Gust.SpeedMPH,Max.Humidity,Max.Sea.Level.PressureIn,Max.TemperatureF,Max.VisibilityMiles,Max.Wind.SpeedMPH,Mean.Humidity,...,Mean.Wind.SpeedMPH,MeanDew.PointF,Min.DewpointF,Min.Humidity,Min.Sea.Level.PressureIn,Min.TemperatureF,Min.VisibilityMiles,PrecipitationIn,WindDirDegrees,Date
0,6,Rain,46,29.0,74,30.45,64,10,22,63,...,13,40,26,52,30.01,39,10,0.01,268,2014-12-01
1,7,Rain-Snow,40,29.0,92,30.71,42,10,24,72,...,15,27,17,51,30.40,33,2,0.10,62,2014-12-02
2,8,Rain,49,38.0,100,30.40,51,10,29,79,...,12,42,24,57,29.87,37,1,0.44,254,2014-12-03
3,3,None,24,33.0,69,30.56,43,10,25,54,...,12,21,13,39,30.09,30,10,0.00,292,2014-12-04
4,5,Rain,37,26.0,85,30.68,42,10,22,66,...,10,25,12,47,30.45,26,5,0.11,61,2014-12-05

In [364]:
# Fill missing values with 50th Quantile
NanColumns = list(df.columns[df.isnull().any() == True])
for nc in NanColumns:
    df[nc] = df[nc].fillna(df[nc].quantile(0.5))

In [365]:
# Change Max Value to Mode
ilocation = df.index[df['Max.Humidity'] == df['Max.Humidity'].max()]
df.at[ilocation, 'Max.Humidity'] = 100
df.describe()

,CloudCover,Max.Dew.PointF,Max.Gust.SpeedMPH,Max.Humidity,Max.Sea.Level.PressureIn,Max.TemperatureF,Max.VisibilityMiles,Max.Wind.SpeedMPH,Mean.Humidity,Mean.Sea.Level.PressureIn,...,Mean.VisibilityMiles,Mean.Wind.SpeedMPH,MeanDew.PointF,Min.DewpointF,Min.Humidity,Min.Sea.Level.PressureIn,Min.TemperatureF,Min.VisibilityMiles,PrecipitationIn,WindDirDegrees
count,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,...,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000
mean,4.707650,45.475410,26.964481,83.226776,30.155328,58.931694,9.907104,20.620219,66.021858,30.038251,...,8.860656,10.680328,38.959016,32.245902,48.308743,29.925956,43.327869,6.715847,0.101557,200.081967
std,2.373206,18.317241,8.566747,14.277886,0.232095,20.047156,0.707768,5.762945,14.433392,0.235583,...,2.065963,3.491515,19.870153,21.811639,17.414221,0.241768,18.734530,4.051196,0.294215,98.707393
min,0.000000,-6.000000,0.000000,39.000000,29.580000,18.000000,2.000000,8.000000,28.000000,29.490000,...,-1.000000,4.000000,-11.000000,-18.000000,16.000000,29.160000,-3.000000,0.000000,0.000000,1.000000
25%,3.000000,32.000000,21.000000,73.250000,30.000000,42.000000,10.000000,16.000000,56.000000,29.870000,...,8.000000,8.000000,24.000000,16.250000,35.000000,29.760000,30.000000,2.000000,0.000000,113.000000
50%,5.000000,47.500000,25.500000,86.000000,30.140000,60.000000,10.000000,20.000000,66.000000,30.030000,...,10.000000,10.000000,41.000000,35.000000,46.000000,29.940000,46.000000,10.000000,0.000000,222.000000
75%,7.000000,61.000000,31.000000,93.000000,30.310000,76.000000,10.000000,24.000000,76.750000,30.190000,...,10.000000,13.000000,56.000000,51.000000,60.000000,30.090000,60.000000,10.000000,0.040000,275.000000
max,8.000000,75.000000,94.000000,100.000000,30.880000,96.000000,10.000000,38.000000,98.000000,30.770000,...,10.000000,22.000000,71.000000,68.000000,96.000000,30.640000,74.000000,10.000000,2.900000,360.000000

In [366]:
ilocation = df.index[df['Mean.VisibilityMiles'] == df['Mean.VisibilityMiles'].min()]
df.at[ilocation, 'Mean.VisibilityMiles'] = 10
df.describe()

,CloudCover,Max.Dew.PointF,Max.Gust.SpeedMPH,Max.Humidity,Max.Sea.Level.PressureIn,Max.TemperatureF,Max.VisibilityMiles,Max.Wind.SpeedMPH,Mean.Humidity,Mean.Sea.Level.PressureIn,...,Mean.VisibilityMiles,Mean.Wind.SpeedMPH,MeanDew.PointF,Min.DewpointF,Min.Humidity,Min.Sea.Level.PressureIn,Min.TemperatureF,Min.VisibilityMiles,PrecipitationIn,WindDirDegrees
count,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,...,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000
mean,4.707650,45.475410,26.964481,83.226776,30.155328,58.931694,9.907104,20.620219,66.021858,30.038251,...,8.890710,10.680328,38.959016,32.245902,48.308743,29.925956,43.327869,6.715847,0.101557,200.081967
std,2.373206,18.317241,8.566747,14.277886,0.232095,20.047156,0.707768,5.762945,14.433392,0.235583,...,2.001115,3.491515,19.870153,21.811639,17.414221,0.241768,18.734530,4.051196,0.294215,98.707393
min,0.000000,-6.000000,0.000000,39.000000,29.580000,18.000000,2.000000,8.000000,28.000000,29.490000,...,1.000000,4.000000,-11.000000,-18.000000,16.000000,29.160000,-3.000000,0.000000,0.000000,1.000000
25%,3.000000,32.000000,21.000000,73.250000,30.000000,42.000000,10.000000,16.000000,56.000000,29.870000,...,8.000000,8.000000,24.000000,16.250000,35.000000,29.760000,30.000000,2.000000,0.000000,113.000000
50%,5.000000,47.500000,25.500000,86.000000,30.140000,60.000000,10.000000,20.000000,66.000000,30.030000,...,10.000000,10.000000,41.000000,35.000000,46.000000,29.940000,46.000000,10.000000,0.000000,222.000000
75%,7.000000,61.000000,31.000000,93.000000,30.310000,76.000000,10.000000,24.000000,76.750000,30.190000,...,10.000000,13.000000,56.000000,51.000000,60.000000,30.090000,60.000000,10.000000,0.040000,275.000000
max,8.000000,75.000000,94.000000,100.000000,30.880000,96.000000,10.000000,38.000000,98.000000,30.770000,...,10.000000,22.000000,71.000000,68.000000,96.000000,30.640000,74.000000,10.000000,2.900000,360.000000

Your dataset should look like `weather_clean.pkl` file at the end. Use it as a refrence.

In [372]:
import pickle
with open('weather_clean.pkl', 'rb') as f:
    pklFile = pickle.load(f)
# pklFile.head()

In [371]:
df.describe().equals(pklFile.describe())

True

Let's take a look at our final cleaned dataset before saving it for analysis. We will save it as a 'pickle', a binary file format which will preserve out column types. Text-based file formats like csv and json do not preserve column data types.

In [10]:
#save the cleaned dataset
#df.to_pickle('weather_clean.pkl')