In [134]:
# To check if something is inside a list
1 in [1,2,3]
print('***')
list_num = [n for n in range(0,100) if n%2==0]
print(list_num)
print('***')
# def times_tables():
#     lst = []
#     for i in range(10):
#         for j in range (10):
#             lst.append(i*j)
#     return lst
# Or can be written the same way
times_tables= [j*i for i in range(10) for j in range(10)]
import numpy as np
times_tables = np.array(times_tables).reshape(10,10)
times_tables

***
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
***

array([[ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18],
       [ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27],
       [ 0,  4,  8, 12, 16, 20, 24, 28, 32, 36],
       [ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45],
       [ 0,  6, 12, 18, 24, 30, 36, 42, 48, 54],
       [ 0,  7, 14, 21, 28, 35, 42, 49, 56, 63],
       [ 0,  8, 16, 24, 32, 40, 48, 56, 64, 72],
       [ 0,  9, 18, 27, 36, 45, 54, 63, 72, 81]])

In [126]:
# String Manipulation
x = 'This is a string'
print(x[0],x[0:],x[0:2])
print('******')
y = 'elephant in the house'
print(y[:7],y[-10:-2]) # the -10th letter to the -2nd letter
print('******')
words = y.split(' ')
for i in words:
    print(i)

T This is a string Th
******
elephan  the hou
******
elephant
in
the
house

In [28]:
# Dictionary Implementation
dict = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
print(dict['Christopher Brooks'])
print('******')
dict['Umar Salman'] = '20100120@lums.edu.pk'
print(dict)
print('******')
for email in dict.values():
    print(email)
print('******')
for name in dict.keys():
    print(name)
print('******')
for name, email in dict.items():
    print(name, email)

brooksch@umich.edu
******
{'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com', 'Umar Salman': '20100120@lums.edu.pk'}
******
brooksch@umich.edu
billg@microsoft.com
20100120@lums.edu.pk
******
Christopher Brooks
Bill Gates
Umar Salman
******
Christopher Brooks brooksch@umich.edu
Bill Gates billg@microsoft.com
Umar Salman 20100120@lums.edu.pk

In [64]:
# Pandas Concatenate
import pandas as pd
data1 = {
        'id': ['1', '2', '3', '4', '5'],
        'Feature1': ['A', 'C', 'E', 'G', 'I'],
        'Feature2': ['B', 'D', 'F', 'H', 'J']}
df1 = pd.DataFrame(data1, columns = ['id', 'Feature1', 'Feature2'])
print(df1)
print('******')
data2 = {
        'id': ['1', '7', '8', '9','10'], # Starts from 1 to see INNER JOIN in merge
        'Feature1': ['K', 'M', 'O', 'Q', 'S'],
        'Feature2': ['L', 'N', 'P', 'R', 'T']}
df2 = pd.DataFrame(data2, columns = ['id', 'Feature1', 'Feature2'])
print(df2)
print('******')
df12 = pd.concat([df1, df2], ignore_index = True)
# Otherwise the indexes will be like 0 1 2 3 4 0 1 2 3 4
print(df12)
print('******')
df12xy = pd.concat([df1, df2], keys= ['x','y'])
print(df12xy)
print('******')
print(df12xy.loc['y'])
print('******')
data3 = {
    'id':['3','2','1','4','5','6','7','8','9','10'], # 1 and 3 are replaced to see effects in Merge
    'Feature3': ['U','V','W','X','Y','U','V','W','X','Y']}
df3 = pd.DataFrame(data3, columns = ['id','Feature3'])
print(df3)
print('******')

  id Feature1 Feature2
0  1        A        B
1  2        C        D
2  3        E        F
3  4        G        H
4  5        I        J
******
   id Feature1 Feature2
0   1        K        L
1   7        M        N
2   8        O        P
3   9        Q        R
4  10        S        T
******
   id Feature1 Feature2
0   1        A        B
1   2        C        D
2   3        E        F
3   4        G        H
4   5        I        J
5   1        K        L
6   7        M        N
7   8        O        P
8   9        Q        R
9  10        S        T
******
     id Feature1 Feature2
x 0   1        A        B
  1   2        C        D
  2   3        E        F
  3   4        G        H
  4   5        I        J
y 0   1        K        L
  1   7        M        N
  2   8        O        P
  3   9        Q        R
  4  10        S        T
******
   id Feature1 Feature2
0   1        K        L
1   7        M        N
2   8        O        P
3   9        Q        R
4  10        S        T
******
   id Feature3
0   3        U
1   2        V
2   1        W
3   4        X
4   5        Y
5   6        U
6   7        V
7   8        W
8   9        X
9  10        Y
******

In [72]:
# Pandas Merge
df_merge = pd.merge(df12, df3,left_on = 'id', right_on='id') # Or simply just on='id'
print(df_merge)
print('******')
add_row = pd.Series(['11', 'X1', 'X2', 'X3'],index=['id','Feature1', 'Feature2', 'Feature3'])
df_addrow = df_merge.append(add_row, ignore_index=True)
print(df_addrow)
print('******')
df_outer = pd.merge(df1, df2, on='id', how ='outer', suffixes=('_1','_2'))
print(df_outer)
print('******')
df_inner = pd.merge(df1, df2, on='id', how ='inner', suffixes=('_1','_2'))
print(df_inner)

   id Feature1 Feature2 Feature3
0   1        A        B        W
1   1        K        L        W
2   2        C        D        V
3   3        E        F        U
4   4        G        H        X
5   5        I        J        Y
6   7        M        N        V
7   8        O        P        W
8   9        Q        R        X
9  10        S        T        Y
******
    id Feature1 Feature2 Feature3
0    1        A        B        W
1    1        K        L        W
2    2        C        D        V
3    3        E        F        U
4    4        G        H        X
5    5        I        J        Y
6    7        M        N        V
7    8        O        P        W
8    9        Q        R        X
9   10        S        T        Y
10  11       X1       X2       X3
******
   id Feature1_1 Feature2_1 Feature1_2 Feature2_2
0   1          A          B          K          L
1   2          C          D        NaN        NaN
2   3          E          F        NaN        NaN
3   4          G          H        NaN        NaN
4   5          I          J        NaN        NaN
5   7        NaN        NaN          M          N
6   8        NaN        NaN          O          P
7   9        NaN        NaN          Q          R
8  10        NaN        NaN          S          T
******
  id Feature1_1 Feature2_1 Feature1_2 Feature2_2
0  1          A          B          K          L

In [87]:
# iloc Random & Bool
import numpy as np
len(df_merge)
boolTable = pd.DataFrame(np.random.randn(len(df_merge), 1)) 
# 1 is the number of columns and len(df_merge) is the size of the df being made
print(boolTable)
print('******')
for i in range(len(boolTable)):
    boolTable.iloc[i,0] = np.random.uniform(0,1) # Random numbers between 0 and 1
print(boolTable)
print('******')
boolTable = np.random.rand(len(boolTable)) < 0.60
print(boolTable)
print('******')
Train = df_merge[boolTable]
print(Train)
print('******')
Test = df_merge[~boolTable]
print(Test.iloc[:,0]) # Gets you the first column of the Data Frame
print('******')
print(Test)

          0
0  0.636369
1  0.688311
2 -0.793447
3 -0.792848
4  1.108619
5 -0.964438
6 -0.638642
7  0.933633
8 -2.355914
9 -0.079536
******
          0
0  0.727153
1  0.319676
2  0.590637
3  0.613562
4  0.607586
5  0.657651
6  0.461938
7  0.082364
8  0.055367
9  0.583401
******
[ True False  True False  True  True False  True False  True]
******
   id Feature1 Feature2 Feature3
0   1        A        B        W
2   2        C        D        V
4   4        G        H        X
5   5        I        J        Y
7   8        O        P        W
9  10        S        T        Y
1    1
3    3
6    7
8    9
Name: id, dtype: object
  id Feature1 Feature2 Feature3
1  1        K        L        W
3  3        E        F        U
6  7        M        N        V
8  9        Q        R        X

In [89]:
# Classes

class Person:
    department = 'School of Information' #a class variable

    def set_name(self, new_name): #a method
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location
person = Person()
person.set_name('Christopher Brooks')
person.set_location('Ann Arbor, MI, USA')
print('{} lives in {} and works in the department {}'.format(person.name, person.location, person.department))

Christopher Brooks lives in Ann Arbor, MI, USA and works in the department School of Information

In [104]:
# MApping Function and Lambda
store1 = [1,5,6]
store2 = [2,3,4]
cheapest = map(min,store1, store2) # map(function, parameters)
print(list(cheapest))
print('******')
def addition(n): 
	return n + n 
numbers = (1, 2, 3, 4) 
result = map(addition, numbers) 
print(list(result)) 
print('******')
numbers = (1, 2, 3, 4) 
result = map(lambda x: x + x, numbers) 
print(list(result)) 
print('******')
numbers1 = [1, 2, 3] 
numbers2 = [4, 5, 6] 
result = map(lambda x, y: x + y, numbers1, numbers2) 
# Lambda acts as the func name, give its params x,y next to it then after the semi colon put the function
# Then inserts the actual arguements you want to use
print(list(result))

[1, 3, 4]
******
[2, 4, 6, 8]
******
[2, 4, 6, 8]
******
[5, 7, 9]

In [117]:
# Numpy
n = np.arange(0, 30, 2) # start at 0 count up by 2, stop before 30
print(n)
print('******')
n = n.reshape(3, 5) # reshape array to be 3x5
print(n)
print('******')
o = np.linspace(0, 4, 9) # return 9 evenly spaced values from 0 to 4
print(o)
print('******')
print(np.ones((3, 2)))
print(np.zeros((2, 3)))
print('******')
print(np.eye(3)) # eye returns a 2-D array with ones on the diagonal and zeros elsewhere.
print('******')
a = np.array([-4, -2, 1, 3, 5])
# argmax and argmin return the index of the maximum and minimum values in the array.
print(a.argmax())
print('******')
y = np.array([4, 5, 6])
z = np.array([y, y**2])
print(z)
print(z.dtype)
z = z.astype('f')
print(z.dtype)

[ 0  2  4  6  8 10 12 14 16 18 20 22 24 26 28]
******
[[ 0  2  4  6  8]
 [10 12 14 16 18]
 [20 22 24 26 28]]
******
[0.  0.5 1.  1.5 2.  2.5 3.  3.5 4. ]
******
[[1. 1.]
 [1. 1.]
 [1. 1.]]
[[0. 0. 0.]
 [0. 0. 0.]]
******
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]
******
4
******
[[ 4  5  6]
 [16 25 36]]
int32
float32